<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"> <img style="height: 35px; padding-left: 70px;" nz-col [nzSpan]="20" src="../../assets/icon/logo-login-resize-removebg.png" alt=""></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <!-- <li routerLink="dashboard" nz-submenu nzTitle="Quản lý xe" nzIcon="car">
          <ul>
            <li nz-menu-item>Tom</li>
            <li nz-menu-item>Bill</li>
            <li nz-menu-item>Alex</li>
          </ul>
        </li> -->
        <!-- <li nz-menu-item routerLink="quanlynhaxe">
          <span nz-icon nzType="user" nzTheme="outline"></span>
          <span>Quản lý nhà xe</span>
        </li> -->
        <!-- <li nz-menu-item routerLink="quanlyxe">
          <span nz-icon nzType="car"></span>
          <span>Quản lý xe</span>
        </li> -->
        <li nz-menu-item routerLink="quanlychuyendi">
          <span nz-icon nzType="car"></span>
          <span>Quản lý chuyến đi</span>
        </li>
        <li nz-menu-item routerLink="quanlylayout">
          <span nz-icon nzType="car"></span>
          <span>Quản lý Layout </span>
        </li>
        <li nz-menu-item routerLink="quanlytype">
          <span nz-icon nzType="car"></span>
          <span>Quản lý Types </span>
        </li>
        <li nz-submenu nzTitle="Báo cáo" nzIcon="line-chart">
          <ul>
            <li nz-menu-item>Báo cáo 1</li>
            <li nz-menu-item>Báo cáo 2</li>
          </ul>
        </li>
        <li nz-menu-item>
            <i nz-icon nzType="logout" [nzRotate]=180></i>
            <span><a style="color:brown;" href="/login">Đăng xuất</a></span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
          <nz-breadcrumb-item>Quản lý</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular..</nz-footer>
    </nz-layout>
  </nz-layout>