<div>
  <div class="search">
    <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixIconSearch" style=" border-radius: 50px;">
      <input style="border-radius: 50px;" type="text" nz-input placeholder="Tìm kiếm" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <a><span nz-icon nzType="search"></span></a>
    </ng-template>
  </div>
  <div>
    <button  nz-button nzType="primary" style="float: right; background-color: #4f46e5; "> <span nz-icon nzType="file"
        nzTheme="outline"></span>Export
      Excel</button>
    <button nz-button nzType="primary" style="float: right; background-color: #4f46e5;"><span nz-icon nzType="file"
        nzTheme="outline"></span>Import
      Excel</button>
    <button (click)="showModal()" nz-button nzType="primary" style="float: right; background-color: #10B981;"> <span
        nz-icon nzType="plus" nzTheme="outline"></span>Thêm CoachOwner</button>
  </div>
  </div>
<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Firtname</th>
      <th>LastName</th>
      <th>DOB</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Nationality</th>
      <th>IdentityNo</th>
      <th>LisenceNO</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.firstName }}</td>
      <td>{{ data.lastName }}</td>
      <td>{{ data.dateOfBirth }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.nationality}}</td>
      <td>{{ data.identityNo }}</td>
      <td>{{ data.lisenseNo }}</td>
      <td>{{ data.address }}</td>
      <td>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="updateNhaxe(data)" style="color: red;"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete(data)"><span nz-icon nzType="delete" nzTheme="outline"></span></a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm Nhà Xe" (nzOnCancel)="handleCancel()" (nzOnOk)="iscreup ? create() : update()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập FirstName !">
          <nz-form-label [nzSpan]="7" nzRequired>FirstName</nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input [(ngModel)]="listOfFormDto.firstName" type="text" nz-input formControlName="firstName" placeholder="FirstName" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập LastName!">
          <nz-form-label [nzSpan]="7" nzRequired>LastName</nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input [(ngModel)]="listOfFormDto.lastName" type="text" nz-input formControlName="lastName" placeholder="LastName" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập DOB!">
          <nz-form-label [nzSpan]="7" nzRequired>DOB</nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input [(ngModel)]="listOfFormDto.dateOfBirth" type="text" nz-input formControlName="dateOfBirth" placeholder="dateOfBirth" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập PhoneNumber!">
          <nz-form-label [nzSpan]="7" nzRequired>PhoneNumber</nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input [(ngModel)]="listOfFormDto.phoneNumber" type="text" nz-input formControlName="phoneNumber" placeholder="PhoneNumber" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập Email!">
          <nz-form-label [nzSpan]="7" nzRequired>Email</nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input [(ngModel)]="listOfFormDto.email" type="text" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập Nationality">
          <nz-form-label [nzSpan]="7" nzRequired>Nationality </nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input [(ngModel)]="listOfFormDto.nationality" type="text" nz-input formControlName="nationality" placeholder="Nationality" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập IdentityNo">
          <nz-form-label [nzSpan]="7" nzRequired>IdentityNo </nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input [(ngModel)]="listOfFormDto.identityNo" type="text" nz-input formControlName="identityNo" placeholder="IdentityNo" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập LisenceNo">
          <nz-form-label [nzSpan]="7" nzRequired>LisenceNo </nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input [(ngModel)]="listOfFormDto.lisenseNo" type="text" nz-input formControlName="lisenseNo" placeholder="LisenceNo" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Vui lòng nhập Address">
          <nz-form-label [nzSpan]="7" nzRequired>Address </nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input [(ngModel)]="listOfFormDto.address" type="text" nz-input formControlName="address" placeholder="Address" />
          </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
  </ng-container>
</nz-modal>