<!-- <nz-layout>
  <nz-header>
    <div>
        <img style="margin-top: -10px;" width="50px" height="50px" src="../assets/icon/icon-idea.png" alt="logo">
        <span class="nl">Dat Ve Xe</span>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item>
              <a routerLink="dashboard">Trang chủ</a>
            </li>
            <li nz-menu-item>
              <a routerLink="datvexe">Đặt vé xe</a>
            </li>
          </ul>
    </div>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>
        <a routerLink="dashboard">Trang chủ</a>
      </li>
      <li nz-menu-item>
        <a routerLink="datvexe">Đặt vé xe</a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
        <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout> -->

<nz-layout>
    <nz-header style="background-color: rgb(240,242,245);">
      <div class="logo"></div>
      <ul style="background-color: rgb(240,242,245);" nz-menu nzTheme="light" nzMode="horizontal">
        <li nz-menu-item>
          <a routerLink="dashboard">Trang chủ</a>
        </li>
        <li nz-menu-item>
          <a routerLink="datvexe">Đặt vé xe</a>
        </li>
        <li nz-menu-item style="float: right;min-height:60px" class="Navbar__GroupItem-sc-19tf8g-5 csGmta"><a
          class="Navbar__LinkNormalStyled-sc-19tf8g-2 Navbar__LinkHotLineStyled-sc-19tf8g-4 epVqyX cbZbtn"><img
            src="https://storage.googleapis.com/fe-production/svgIcon/hotline-icon.svg" alt="hotline" width="18"
            height="18" style="width:18px;margin-bottom:2px;margin-right:5px">HOTLINE</a></li>
      <li nz-menu-item style="float: right;">
        <li nz-menu-item style="float: right;">
          <a routerLink="login">Đăng nhập</a>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <div class="FooterMenu__Wrapper-sc-13w4bwi-7 jiUmHn">
        <div class="ant-row Footer__top_content">
          <div class="ant-col ant-col-6">
            <div class="FooterMenu__FooterTitle-sc-13w4bwi-2 cwQCZw">Về chúng tôi</div>
            <ul class="FooterMenu__FooterList-sc-13w4bwi-3 izbhyH">
              <li><a rel="nofollow" href="" class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Phần
                  mềm đại lý</a></li>
              <li><a rel="nofollow" href="" class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Giới
                  Thiệu </a></li>
              <li><a href="" class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Tuyển dụng</a></li>
              <li><a href="" class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Tin tức</a></li>
              <li><a rel="nofollow" href="" class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Liên hệ</a>
              </li>
            </ul>
          </div>
          <div class="ant-col ant-col-6">
            <div class="FooterMenu__FooterTitle-sc-13w4bwi-2 cwQCZw">Hỗ trợ</div>
            <ul class="FooterMenu__FooterList-sc-13w4bwi-3 izbhyH">
              <li><a rel="nofollow" href=""
                  class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Hướng dẫn thanh toán</a></li>
              <li><a rel="nofollow" href="" class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Quy chế
                  </a></li>
              <li><a rel="nofollow" href="" class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Chính
                  sách bảo mật thông tin</a></li>
              <li><a rel="nofollow" href=""
                  class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Chính sách bảo mật thanh toán</a></li>
              <li><a rel="nofollow" href=""
                  class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Chính sách và quy trình giải quyết tranh chấp, khiếu
                  nại</a></li>
              <li><a rel="nofollow" href=""
                  class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Câu hỏi thường gặp</a></li>
              <li><a rel="nofollow" href=""
                  class="FooterMenu__FooterItem-sc-13w4bwi-4 hFzZUz">Tra cứu đơn hàng</a></li>
            </ul>
          </div>
          <div class="ant-col ant-col-6">
            <div class="FooterMenu__FooterTitle-sc-13w4bwi-2 cwQCZw">Chứng nhận</div>
            <div class="ant-row">
              <div
                class="ant-col FooterMenu__LogoCol-sc-13w4bwi-6 fPlPiO ant-col-xs-12 ant-col-sm-12 ant-col-md-4 ant-col-lg-3">
                <div class="FooterMenu__FooterLogoWrapper-sc-13w4bwi-5 julVhr"><img class=" lazyloaded"
                    alt="Vexere - Certificate"
                    data-src="https://storage.googleapis.com/fe-production/images/Home/certificate0.png" width="121"
                    height="46" src="https://storage.googleapis.com/fe-production/images/Home/certificate0.png"></div>
              </div>
            </div>
            <div class="ant-row">
              <div
                class="ant-col FooterMenu__LogoCol-sc-13w4bwi-6 fPlPiO ant-col-xs-12 ant-col-sm-12 ant-col-md-4 ant-col-lg-3">
                <div class="FooterMenu__FooterLogoWrapper-sc-13w4bwi-5 julVhr"><img class=" lazyloaded"
                    alt="Vexere - Certificate"
                    data-src="https://storage.googleapis.com/fe-production/images/Home/certificate1.png" width="121"
                    height="46" src="https://storage.googleapis.com/fe-production/images/Home/certificate1.png"></div>
              </div>
            </div>
            <div class="ant-row">
              <div class="FooterMenu__FooterLogoWrapper-sc-13w4bwi-5 julVhr"><a
                  href="http://online.gov.vn/Home/AppDetails/462"><img class=" lazyloaded" alt="Vexere - Certificate"
                    data-src="https://storage.googleapis.com/fe-production/images/dangkybocongthuong.png" width="151"
                    height="56" src="https://storage.googleapis.com/fe-production/images/dangkybocongthuong.png"></a></div>
            </div>
            <div class="ant-row">
              <div class="FooterMenu__FooterLogoWrapper-sc-13w4bwi-5 julVhr"><a
                  href="http://online.gov.vn/Home/WebDetails/70277"><img class=" lazyloaded" alt="Vexere - Certificate"
                    data-src="https://storage.googleapis.com/fe-production/images/dangkybocongthuong.png" width="151"
                    height="56" src="https://storage.googleapis.com/fe-production/images/dangkybocongthuong.png"></a></div>
            </div>
          </div>
          <div class="ant-col ant-col-6">
            <div class="FooterMenu__FooterTitle-sc-13w4bwi-2 cwQCZw">Tải ứng dụng VeXeRe</div><span><a target="_blank"
                href="https://itunes.apple.com/vn/app/vexere/id1183279479 " rel="nofollow"
                class="FooterMenu__DownloadLogoWrapper-sc-13w4bwi-0 fGAFiP"><img
                  class="FooterMenu__DownloadLogo-sc-13w4bwi-1 ewtgXx lazyloaded" alt="download-logo-1"
                  data-src="https://storage.googleapis.com/fe-production/images/landingpagetet2018/AP-icon.png?v=2"
                  width="150" height="49"
                  src="https://storage.googleapis.com/fe-production/images/landingpagetet2018/AP-icon.png?v=2"></a><br><a
                target="_blank" href="https://play.google.com/store/apps/details?id=com.vexere.vexere" rel="nofollow"
                class="FooterMenu__DownloadLogoWrapper-sc-13w4bwi-0 fGAFiP"><img
                  class="FooterMenu__DownloadLogo-sc-13w4bwi-1 ewtgXx lazyloaded" alt="download-logo-2"
                  data-src="https://storage.googleapis.com/fe-production/images/landingpagetet2018/GP-icon.png?v=2"
                  width="150" height="49"
                  src="https://storage.googleapis.com/fe-production/images/landingpagetet2018/GP-icon.png?v=2"></a></span>
          </div>
        </div>
      </div>
    </nz-footer>
  </nz-layout>
  
