<div class="search">
  <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixIconSearch" style=" border-radius: 50px;">
    <input style="border-radius: 50px;" type="text" nz-input placeholder="Tìm kiếm" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <a><span nz-icon nzType="search"></span></a>
  </ng-template>
</div>
  <div>
    <button nz-button nzType="primary" style="float: right; background-color: #4f46e5; "> <span nz-icon nzType="file"
        nzTheme="outline"></span>Xuất
      Excel</button>
    <button (click)="showModal()" nz-button nzType="primary" style="float: right; background-color: #10B981;"> <span
        nz-icon nzType="plus" nzTheme="outline"></span>Thêm chuyến</button>
  </div>
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Điểm đi</th>
        <th>Điểm đến</th>
        <th>Thời điểm khởi hành</th>
        <th>Mã chuyến</th>
        <th>Giá tiền</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.from }}</td>
        <td>{{ data.to }}</td>
        <td>{{ data.departureTime | date: 'dd-MM-yyyy HH:mm'}}</td>
        <td>{{ data.tripNo }}</td>
        <td>{{ data.minPrice }}</td>
        <td>
          <nz-divider nzType="vertical"></nz-divider>
          <a style="color: red;"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a><span nz-icon nzType="delete" nzTheme="outline"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm chuyến" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập lịch trình">
          <nz-date-picker [(ngModel)]="date" style="text-align: center;  "></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập biểm kiểm soát!">
            <nz-form-label [nzSpan]="7" nzRequired>Điểm bắt đầu</nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px; ">
            <input type="text" nz-input formControlName="userName" placeholder="Điểm bắt đầu" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập màu xe!">
            <nz-form-label [nzSpan]="7" nzRequired>Điểm đến</nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px;">
            <input type="text" nz-input formControlName="userName" placeholder="Điểm đến" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập biểm kiểm soát!">
            <nz-form-label [nzSpan]="7" nzRequired>Giờ khởi hành </nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px;">
            <input type="text" nz-input formControlName="userName" placeholder="Giờ khởi hành" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập biểm kiểm soát!">
            <nz-form-label [nzSpan]="7" nzRequired>Mã chuyến </nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px;">
            <input type="text" nz-input formControlName="userName" placeholder="Mã chuyến" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập biểm kiểm soát!">
            <nz-form-label [nzSpan]="7" nzRequired>Giá tiền </nz-form-label>
          <nz-input-group nzPrefixIcon="user" style="border-radius: 50px;">
            <input type="text" nz-input formControlName="userName" placeholder="Giá" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </nz-modal>
