<div>
    <div>
        <h2>Tạo chuyến đi</h2>
        <button (click)="create()" nz-button nzType="primary" style="float: right; background-color: #10B981;">Tạo</button> 
    </div>
    <hr>
    <div nz-row>
        <div nz-col nzSpan="12">
            <h3>Thông tin</h3>
            <form nz-form [formGroup]="validateForm">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng nhập mã!">
                        <nz-form-label [nzSpan]="7" nzRequired>Mã</nz-form-label>
                        <nz-input-group nzPrefixIcon="user">
                            <input  type="text" nz-input formControlName="code" placeholder="Mã chuyến đi" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng nhập điểm đi!">
                        <nz-form-label [nzSpan]="7" nzRequired>Điểm đi</nz-form-label>
                        <nz-select formControlName="from" nzShowSearch nzAllowClear nzPlaceHolder="Điểm đi">
                            <nz-option *ngFor="let f of address" [nzLabel]="f.lable" [nzValue]="f.value">
                            </nz-option>
                          </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng nhập điểm đến!">
                        <nz-form-label [nzSpan]="7" nzRequired>Điểm đến</nz-form-label>
                        <nz-select formControlName="to" nzShowSearch nzAllowClear nzPlaceHolder="Điểm đến">
                            <nz-option *ngFor="let t of address" [nzLabel]="t.lable" [nzValue]="t.value">
                            </nz-option>
                          </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                <nz-form-control nzErrorTip="Vui lòng nhập thời gian!">
                    <nz-form-label [nzSpan]="7" nzRequired>Thời gian</nz-form-label>
                  <nz-date-picker 
                    formControlName="departureTime"
                    nzShowTime
                    nzPlaceHolder="Chọn thời gian" 
                    style=" width: 784px; height: 35px; text-align: center; margin: 0;"
                    [(ngModel)]="date" 
                    nzFormat="dd/MM/yyyy HH:mm:ss">
                  </nz-date-picker>  
                </nz-form-control>
            </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng nhập giá!">
                        <nz-form-label [nzSpan]="7" nzRequired>Giá chuyến đi</nz-form-label>
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="price" placeholder="Giá chuyến đi" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Vui lòng nhập loại xe!">
                        <nz-form-label [nzSpan]="7" nzRequired>Chọn loại xe</nz-form-label>
                        <nz-select formControlName="typeId" style="border-radius: 50px;" nzShowSearch nzAllowClear nzPlaceHolder="Chọn loại xe">
                            <nz-option *ngFor="let idtype of infoType" [nzLabel]="idtype.name" [nzValue]="idtype.id">
                            </nz-option>
                          </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div style="text-align: center;" nz-col nzSpan="12">
            <div>
                <h3>Điểm đón</h3>
                <div style="float: right;">
                    <button (click)="showModal()" style="border: #4caf50; background-color: #4caf50" nz-button
                    nzType="primary" nzShape="circle">
                    <i nz-icon nzType="plus"></i>
                </button>
                </div>
                <nz-table #tableList #basicTable [nzBordered]="true" [nzData]="diemDon">
                    <!-- (nzPageIndexChange)="pageIndexChange($event)" -->
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th style="text-align: center;">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data; let i = index">
                            <td>
                                {{ i + 1 }}
                            </td>
                            <td>{{ data.phoneNumber }}</td>
                            <td>{{ data.address }}</td>

                            <td style="text-align: center;">
                                <a><i style="color: red; margin-right: 10px; font-size: 20px" nz-icon nzType="close"
                                        nzTheme="outline" title="Xóa"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
            <hr>
            <div>
                <h3>Điểm trả</h3>
                <div style="float: right;">
                    <button (click)="showModal2()" style="border: #4caf50; background-color: #4caf50" nz-button
                    nzType="primary" nzShape="circle">
                    <i nz-icon nzType="plus"></i>
                </button>
                </div>
                <nz-table #tableList #basicTable2 [nzBordered]="true" [nzData]="diemTra">
                    <!-- (nzPageIndexChange)="pageIndexChange($event)" -->
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th style="text-align: center;">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data2 of basicTable2.data; let i = index">
                            <td>
                                {{ i + 1 }}
                            </td>
                            <td>{{ data2.phoneNumber }}</td>
                            <td>{{ data2.address }}</td>

                            <td style="text-align: center;">
                                <a><i style="color: red; margin-right: 10px; font-size: 20px" nz-icon nzType="close"
                                        nzTheme="outline" title="Xóa"></i></a>
                                &emsp;
                                <!-- <a><i style="font-size: 20px" nz-icon nzType="edit" nzTheme="outline"
                                        title="Sửa"></i></a> -->
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>



<nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm mới điểm đón" (nzOnCancel)="handleCancel()" (nzOnOk)="themDiemDon()">
    <form nz-form [formGroup]="formDon" >
        <div class="form-group" nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="tientrinh" style="font-weight: bold;">
                Số điện thoại
            </nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập số điện thoại">
                <input nz-input type="text" formControlName="phoneNumber">
            </nz-form-control>
        </div><br>
        <div class="form-group" nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="thoigianxuly" style="font-weight: bold;">
                Địa điểm đón
            </nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập địa điểm đón">
                <input nz-input type="text" formControlName="address">
            </nz-form-control>
        </div><br>
    </form>
</nz-modal>

<nz-modal [(nzVisible)]="isVisible2" nzTitle="Thêm mới điểm trả" (nzOnCancel)="handleCancel2()" (nzOnOk)="themDiemTra()">
    <form nz-form [formGroup]="formTra">
        <div class="form-group" nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="tientrinh" style="font-weight: bold;">
                Số điện thoại
            </nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập số điện thoại">
                <input nz-input type="text" formControlName="phoneNumber">
            </nz-form-control>
        </div><br>
        <div class="form-group" nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="thoigianxuly" style="font-weight: bold;">Địa điểm đón
            </nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập địa điểm đón">
                <input nz-input type="text" formControlName="address">
            </nz-form-control>
        </div><br>
    </form>
</nz-modal>